<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>801353356289-dm1acu3041h8v6lolpbvjsr9t4dl72so.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.801353356289-dm1acu3041h8v6lolpbvjsr9t4dl72so</string>
	<key>API_KEY</key>
	<string>AIzaSyAjEsk0PRsj8EXl6lA5ZFwyq5KrF4ETHRc</string>
	<key>GCM_SENDER_ID</key>
	<string>801353356289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cz.cvut.fit.BI-IOS.zidcenek</string>
	<key>PROJECT_ID</key>
	<string>brothersinbeer-fca7c</string>
	<key>STORAGE_BUCKET</key>
	<string>brothersinbeer-fca7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:801353356289:ios:8c2090c26c9337d09d5c00</string>
	<key>DATABASE_URL</key>
	<string>https://brothersinbeer-fca7c.firebaseio.com</string>
</dict>
</plist>